<div class="media">
  <div class="media-left media-top">
    <img src="<%=@club.img_url%>" class="img-circle" alt="Cinque Terre" width="200" height="200">
    </div>
    <div class="media-body">
      <h1>Welcome to <%= @club.name %>
        <h2><%= @club.location %>, <%=@club.country%></h2>
        <%= @club.info %><br/><br/>
        <h5><%=@club.name%> currently has <%= @club.number_of_reviews%> reviews</h5>
        <b>Average Golf Buddies Rating: </b><%= @average%><br/><br/>
        <%= link_to "New Review", new_club_review_path(@club) %><br/><br/>
        <h4>Have a browse through our reviews...</h4>



        <!-- <div class="container">
          <div class="row">
            <div id="main-content" class="col-sm-10" style="overflow:scroll"> -->
              <div class="card-deck">
                    <% @club.reviews.each do |review|%>
                    <div class="col-sm-3 single-post-card">
                    <div class="card">
                      <div class="card-block">
                        <p class="card-text">


                              <b>Posted by: </b><%=review.user.name%><br/>
                              <b>Date added: </b> <%= review.date %><br/>
                              <b>Golf Buddy Rating: </b> <%= review.rank %><br/>

                              <button type="button" class="btn btn-secondary btn-sm"><%= link_to "Read More", review_path(review) %></button>

                        </p>
                      </div>
                    </div>
                    </div>

                    <% end %>
<!-- </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
