
<h1>Welcome to <%= @club.name %>
<h2><%= @club.location %>, <%=@club.country%></h2>

<%= @club.info %><br/><br/>



<b>Average Golf Buddies Ranking: </b><%= @average %><br/><br/>


<b>Have a browse through our reviews... </b><br/><br/>
<% i = 1 %>
<% @club.reviews.each do |review|%>
<%= link_to "Review #{i}", review_path(review) %><br/>
<%= review.content%><br/>
Rank: <%= review.rank %><br/>
Golf Buddy: <%= link_to review.user.name, user_path(review.user) %><br/>
<br/><br/>
<% i += 1 %>
<% end %>
<!-- add new review link -->
