<h1>Sign up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %><br/><br/>

      <%= f.label :last_name%>
      <%= f.text_field :last_name %><br/><br/>

      <%= f.label :handicap%>
      <%= f.text_field :handicap %><br/><br/>

      <%= f.label :country%>
      <%= f.text_field :country %><br/><br/>

      <%= f.label :username %>
      <%= f.text_field :username %><br/><br/>

      <%= f.label :bio, "About Me"%>
      <%= f.text_area:bio %><br/><br/>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
