<%= form_for @review do |f| %>

<% if @review.errors.any? %>
<ul>
  <% @review.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>


<h3><%= @club.name %></h3>
<%= f.hidden_field :club_id, value: params[:club_id]%>

<%= f.label :date %><br />
<%= f.date_field :date %>

<br /><br />

<%= f.label :user %>:<br />
<%= f.collection_select :user_id, User.all, :id, :name, { prompt: "Select User" }  %>

<br /><br />

<%= @club.name %>
<%= f.hidden_field :club_id, value: params[:club_id]%>


<br /><br />

<%= f.label :content %>:<br />
<%= f.text_area :content %>

<br /><br />

<%= f.label :rank %>:<br />
<%= f.select :rank, options_for_select(0..10), { prompt: "Select Rank" } %>


<br /><br />


<%= f.submit %>
<% end %>
