<div id="single-post-content" class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-2">
      <h3><%= @review.user.name %>'s <br/>
        <%=@review.club.name %> Review</h3>

     <div class="info"><b>Date Added:</b> <%= @review.date %><br/>
      <b>Golf Buddy Rating:</b> <%=@review.rank %></div>
    <p>  <b>Content:</b> <%= @review.content %></p>

      <br/>

      See more reviews from <%= link_to @review.club.name, club_path(@review.club) %>
      <br/><br/>
      See more reviews from <%= link_to @review.user.name, user_path(@review.user) %>
      <br/><br/>


      <% if session[:user_id] == params[:user_id] %>
      <%= link_to 'Delete', @review, method: :delete, data: { confirm: "Really?" } %>
      <% end %>

    </div>
      </div><!-- row -->
    </div>
